<!-- CNIL Consent TarteAuCitron / Needs Matomo plugin -->
<@cConsentTac title=favourite denyAll=false showIcon=false >
<#-- Tarte au Citron Service : MonParis -default- -->
<@cConsentTacService />
<#-- Tarte au Citron Service : Matomo  -->
<@cConsentTacService code='matomohightrack'>
${matomo!}
</@cConsentTacService>
</@cConsentTac>
<#-- User message toastr notification - Parameter in back office - Menu Site / Site Properties -> Theme Paris.fr 	-->
<#if dskey('themecitelibre.site_property.bannerMessage.htmlblock') !='' && dskey('themecitelibre.site_property.bannerMessage.Title') !=''>
<!-- ========================================================   -->
<!-- USER MESSAGE NOTIF		                                   -->
<!-- ========================================================   -->
<#assign bannerMessageDuration>${dskey('themecitelibre.site_property.bannerMessage.Duration')}</#assign>
<#assign bannerMessagePosition>${dskey('themecitelibre.site_property.bannerMessage.Position')}</#assign>
<@cInitToast showAll=true duration=bannerMessageDuration?number position=bannerMessagePosition >
    <@cToast title=dskey('themecitelibre.site_property.bannerMessage.Title') content=dskey('themecitelibre.site_property.bannerMessage.htmlblock') delay=bannerMessageDuration?number class='bg-${dskey(\'themecitelibre.site_property.bannerMessage.Type\')}' />
</@cInitToast>
</#if>