/*** 										***/
/*** Sortable List							***/
/***  										***/
.sortable-list{
	position: relative;
	padding: var(--spacing-sm) var(--spacing-m);
	margin-block: 0;
	border-radius: 0	;
	cursor: grabbing;
	background: var(--white-color) url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22currentColor%22%20color%3D%22currentColor%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20d%3D%22M7%202a1%201%200%201%201-2%200%201%201%200%200%201%202%200zm3%200a1%201%200%201%201-2%200%201%201%200%200%201%202%200zM7%205a1%201%200%201%201-2%200%201%201%200%200%201%202%200zm3%200a1%201%200%201%201-2%200%201%201%200%200%201%202%200zM7%208a1%201%200%201%201-2%200%201%201%200%200%201%202%200zm3%200a1%201%200%201%201-2%200%201%201%200%200%201%202%200zm-3%203a1%201%200%201%201-2%200%201%201%200%200%201%202%200zm3%200a1%201%200%201%201-2%200%201%201%200%200%201%202%200zm-3%203a1%201%200%201%201-2%200%201%201%200%200%201%202%200zm3%200a1%201%200%201%201-2%200%201%201%200%200%201%202%200z%22%2F%3E%3C%2Fsvg%3E') right center no-repeat;
}
.sortable-list:first-child{
	margin-block-start: var(--spacing-xxs);
}

.sortable-list.active,
.sortable-list:hover{
	cursor: grab;
	color: var(--white-color);
	background-color: var( --gray-color );
	border-color: var(--border-color);
	font-weight: 600;
}

.sortable-list:hover:before{
	position: absolute;
	left: -.25rem;
	content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22icon%20icon-tabler%20icon-tabler-arrows-move-vertical%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20stroke-width%3D%221.5%22%20stroke%3D%22white%22%20fill%3D%22none%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%0A%20%20%20%3Cpath%20stroke%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%3E%3C%2Fpath%3E%0A%20%20%20%3Cpath%20d%3D%22M9%2018l3%203l3%20-3%22%3E%3C%2Fpath%3E%0A%20%20%20%3Cpath%20d%3D%22M12%2015v6%22%3E%3C%2Fpath%3E%0A%20%20%20%3Cpath%20d%3D%22M15%206l-3%20-3l-3%203%22%3E%3C%2Fpath%3E%0A%20%20%20%3Cpath%20d%3D%22M12%203v6%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E')

}

.sortable-list.active:focus-within:before {
	color: #fff;
	position: absolute;
	left: 0;
	content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22icon%20icon-tabler%20icon-tabler-arrows-move-vertical%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20stroke-width%3D%221.5%22%20stroke%3D%22white%22%20fill%3D%22none%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%0A%20%20%20%3Cpath%20stroke%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%3E%3C%2Fpath%3E%0A%20%20%20%3Cpath%20d%3D%22M9%2018l3%203l3%20-3%22%3E%3C%2Fpath%3E%0A%20%20%20%3Cpath%20d%3D%22M12%2015v6%22%3E%3C%2Fpath%3E%0A%20%20%20%3Cpath%20d%3D%22M15%206l-3%20-3l-3%203%22%3E%3C%2Fpath%3E%0A%20%20%20%3Cpath%20d%3D%22M12%203v6%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E')
}

/*** 										***/
/*** Custom Links							***/
/***  										***/
/** Arrow ending link list	**/
.custom-list{
	list-style-type: none;
}

.custom-list li{
    display: flex;
    align-items: center;
	position: relative;
	min-height: var(--spacing-xxl );
	padding: var( --spacing-xs );
	background-color: var( --blue-bg-colored-light );
}

.custom-list.list-highlight-secondary li{
    border-top: 1px solid var(--blue-light);
	background-color: transparent;
}

.custom-list li a {
	font-family: var( --font-family-list );
	font-weight: 600;
	font-size: var( --font-m );
	color: var( --main-info-color );
	text-decoration: none;
	width: 100%;
	height: 100%;
	display: inline-block;
	z-index: 99;
	position: relative;
}

.custom-list.list-default li a:not(.hide-icon-target)[target=_blank]:after {
    background-color: white;
    content: url("data:image/svg+xml,%3Csvg%20width%3D%2228%22%20height%3D%2228%22%20viewBox%3D%220%200%2028%2028%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M4.48047%2023.3337V4.66699H13.4405V7.2759H6.98501V20.7248H19.8959V14.0003H22.4005V23.3337H4.48047ZM11.6808%2017.6429L9.94359%2015.8334L18.1588%207.2759H15.3307V4.66699H22.4005V12.0314H19.8959V9.08545L11.6808%2017.6429Z%22%20fill%3D%22%23354BCF%22%2F%3E%3C%2Fsvg%3E");
    margin-left: 0;
    -webkit-mask-image: none;
    mask-image: none;
    -webkit-mask-size: 0;
    mask-size: 0;
    padding: 0.9rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: calc( var(--spacing-xxs) * 11 );
    width: calc( var(--spacing-xxs) * 11 );
    border-radius: 50%;
    right: 0;
    transition: .15s ease-in-out;
}

.custom-list.list-default.list-highlight-secondary li a:not(.hide-icon-target)[target=_blank]:after {
    background-color: var(--white-light-color);
    content: url("data:image/svg+xml,%3Csvg%20width%3D%2228%22%20height%3D%2228%22%20viewBox%3D%220%200%2028%2028%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M4.48047%2023.3337V4.66699H13.4405V7.2759H6.98501V20.7248H19.8959V14.0003H22.4005V23.3337H4.48047ZM11.6808%2017.6429L9.94359%2015.8334L18.1588%207.2759H15.3307V4.66699H22.4005V12.0314H19.8959V9.08545L11.6808%2017.6429Z%22%20fill%3D%22%23071F32%22%2F%3E%3C%2Fsvg%3E");
}

.custom-list.list-default.list-highlight-secondary li a:not(.hide-icon-target)[target=_blank] {
    padding-right:45px;
}

.card:not(.secondary) .custom-list.list-default.list-highlight-secondary li a:not(.hide-icon-target)[target=_blank]:after,
.card:not(.secondary) .custom-list.list-files.list-highlight-secondary li a:not(.hide-icon-target):after{
    background-color: white;
}

.card:not(.secondary) .custom-list.list-default.list-highlight-secondary li:hover a:not(.hide-icon-target)[target=_blank]:after,
.card:not(.secondary) .custom-list.list-files.list-highlight-secondary li:hover a:not(.hide-icon-target):after{
    background-color: var(--main-info-color);
}

.custom-list.list-default li:hover a:not(.hide-icon-target)[target=_blank]:after {
    background-color: var(--main-info-color);
    content: url("data:image/svg+xml,%3Csvg%20width%3D%2228%22%20height%3D%2228%22%20viewBox%3D%220%200%2028%2028%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M4.48047%2023.3337V4.66699H13.4405V7.2759H6.98501V20.7248H19.8959V14.0003H22.4005V23.3337H4.48047ZM11.6808%2017.6429L9.94359%2015.8334L18.1588%207.2759H15.3307V4.66699H22.4005V12.0314H19.8959V9.08545L11.6808%2017.6429Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E");
}

/* Default list arobase item icon */
.custom-list.list-default li.arobase::after {
	content: url(data:image/svg+xml,%3Csvg%20width%3D%2214%22%20height%3D%2215%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M-2-2h24v24H-2z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M10.72.03A9.991%209.991%200%2000.03%2010.72C.39%2016.01%205.01%2020%2010.31%2020H14c.55%200%201-.45%201-1s-.45-1-1-1h-3.67c-3.73%200-7.15-2.42-8.08-6.03C.76%206.17%206.16.76%2011.96%202.26%2015.58%203.18%2018%206.6%2018%2010.33v1.1c0%20.79-.71%201.57-1.5%201.57s-1.5-.78-1.5-1.57v-1.25c0-2.51-1.78-4.77-4.26-5.12a5.008%205.008%200%2000-5.66%205.87%204.996%204.996%200%20003.72%203.94c1.84.43%203.59-.16%204.74-1.33.89%201.22%202.67%201.86%204.3%201.21%201.34-.53%202.16-1.9%202.16-3.34v-1.09C20%205.01%2016.01.39%2010.72.03zM10%2013c-1.66%200-3-1.34-3-3s1.34-3%203-3%203%201.34%203%203-1.34%203-3%203z%22%20fill%3D%22%23071f32%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E);
	padding-top: 1.2rem;
}

.custom-list.list-default li.arobase:hover::after {
	content: url(data:image/svg+xml,%3Csvg%20width%3D%2214%22%20height%3D%2215%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M-2-2h24v24H-2z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M10.72.03A9.991%209.991%200%2000.03%2010.72C.39%2016.01%205.01%2020%2010.31%2020H14c.55%200%201-.45%201-1s-.45-1-1-1h-3.67c-3.73%200-7.15-2.42-8.08-6.03C.76%206.17%206.16.76%2011.96%202.26%2015.58%203.18%2018%206.6%2018%2010.33v1.1c0%20.79-.71%201.57-1.5%201.57s-1.5-.78-1.5-1.57v-1.25c0-2.51-1.78-4.77-4.26-5.12a5.008%205.008%200%2000-5.66%205.87%204.996%204.996%200%20003.72%203.94c1.84.43%203.59-.16%204.74-1.33.89%201.22%202.67%201.86%204.3%201.21%201.34-.53%202.16-1.9%202.16-3.34v-1.09C20%205.01%2016.01.39%2010.72.03zM10%2013c-1.66%200-3-1.34-3-3s1.34-3%203-3%203%201.34%203%203-1.34%203-3%203z%22%20fill%3D%22%23ffffff%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E);
}

/* Default list screen item icon */
.custom-list.list-default li.screen::after {
	content: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M11%2017H4a3%203%200%2001-3-3V6a3%203%200%20013-3h16a3%203%200%20013%203v8a3%203%200%2001-3%203h-7v2h3a1%201%200%20110%202H8a1%201%200%20110-2h3v-2zM4%205h16a1%201%200%20011%201v8a1%201%200%2001-1%201H4a1%201%200%2001-1-1V6a1%201%200%20011-1z%22%20fill%3D%22%23071f32%22%2F%3E%0A%3C%2Fsvg%3E%0A);
	padding: .9rem;
}

.custom-list.list-default li.screen:hover::after {
	content: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M11%2017H4a3%203%200%2001-3-3V6a3%203%200%20013-3h16a3%203%200%20013%203v8a3%203%200%2001-3%203h-7v2h3a1%201%200%20110%202H8a1%201%200%20110-2h3v-2zM4%205h16a1%201%200%20011%201v8a1%201%200%2001-1%201H4a1%201%200%2001-1-1V6a1%201%200%20011-1z%22%20fill%3D%22%23ffffff%22%2F%3E%0A%3C%2Fsvg%3E%0A);
}

.custom-list .list-info{
    display:flex;
    justify-content:space-between;
    align-items: center;
}

/* List Files */
.custom-list.list-files li a .files-info {
	padding-right: 7rem;
	display: flex;
	align-items: center;
}

.custom-list.list-files li a .files-info small{
	color: #767676
}

.custom-list.list-files li a .files-info span{
	display: inline-block;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 900;
	padding-top: .1rem;
	margin-left: 2rem;
}

.custom-list.list-files li a:not(.hide-icon-target):after {
    background-color: white;
    content: url("data:image/svg+xml,%3Csvg%20width%3D%2228%22%20height%3D%2228%22%20viewBox%3D%220%200%2028%2028%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M14.0003%2018.216L7.75096%2011.9666L9.80498%209.88868L12.542%2012.6413V4.66699H15.4586V12.6413L18.1957%209.88868L20.2497%2011.9666L14.0003%2018.216ZM4.66699%2023.3337V17.1154H7.58353V20.4171H20.4171V17.1154H23.3337V23.3337H4.66699Z%22%20fill%3D%22%23354BCF%22%2F%3E%3C%2Fsvg%3E");
    margin-left: 0;
    -webkit-mask-image: none;
    mask-image: none;
    -webkit-mask-size: 0;
    mask-size: 0;
    padding: 0.8rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4.4rem;
    width: 4.4rem;
    border-radius: 50%;
    right: 0;
    transition: .15s ease-in-out;
}

.custom-list.list-files.list-highlight-secondary li a:not(.hide-icon-target):after {
    background-color: var(--white-light-color);
    content: url("data:image/svg+xml,%3Csvg%20width%3D%2228%22%20height%3D%2228%22%20viewBox%3D%220%200%2028%2028%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M14.0003%2018.216L7.75096%2011.9666L9.80498%209.88868L12.542%2012.6413V4.66699H15.4586V12.6413L18.1957%209.88868L20.2497%2011.9666L14.0003%2018.216ZM4.66699%2023.3337V17.1154H7.58353V20.4171H20.4171V17.1154H23.3337V23.3337H4.66699Z%22%20fill%3D%22%23071F32%22%2F%3E%3C%2Fsvg%3E");
}

.custom-list.list-files li:hover a:not(.hide-icon-target):after {
    background-color: var(--main-info-color);
    content: url("data:image/svg+xml,%3Csvg%20width%3D%2228%22%20height%3D%2228%22%20viewBox%3D%220%200%2028%2028%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M14.0003%2018.216L7.75096%2011.9666L9.80498%209.88868L12.542%2012.6413V4.66699H15.4586V12.6413L18.1957%209.88868L20.2497%2011.9666L14.0003%2018.216ZM4.66699%2023.3337V17.1154H7.58353V20.4171H20.4171V17.1154H23.3337V23.3337H4.66699Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E");
}

.custom-list li:hover a span{
    text-decoration:underline;
}

/* Chevron List */
.custom-list.more-list li{
	padding-left: 3.2rem;
	border: none;
}

.custom-list.more-list li a:hover{
	text-decoration: underline;
}

.custom-list.more-list li::before {
    content: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20class%3D%22nc-icon-wrapper%22%20fill%3D%22%23071f32%22%3E%3Cpath%20d%3D%22M10.061%2019.061L17.121%2012l-7.06-7.061-2.122%202.122L12.879%2012l-4.94%204.939z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
    position: absolute;
    top: var(--spacing-m);
    height: var(--spacing-sm);
    width: var(--spacing-sm);
    left: 0;
}

.custom-list.more-list li.more{
	margin: 0;
	padding: 1rem
}

.custom-list.more-list li.more::before{
	content: '';
}

.custom-list.more-liste li.more a{
	color: var( --main-danger-color );
	font-size: var( --font-m )
}

.more-list li.more .btn-more .minus{
	display: none;
}

.more-list li.more .btn-more.btn-less .plus{
	display: none;
}

.more-list li.more .btn-more.btn-less .minus{
	display: inline-block;
}

.custom-list.more-list li.more a svg{
	padding-right: .5rem;
	font-size: 2rem
}

/* List with number */
.custom-list.list-default li.item-number::before {
    content: attr(data-number) !important;
    padding: var(--spacing-xs) var(--spacing-sm);
    position: absolute;
    background-color: var( --white-color );
    border-radius: var(--bs-border-radius-xl);
    right: var(--spacing-xxl);
    z-index: 2;
    font-weight: 600;
}

.custom-list.list-default li.item-number:hover::before {
	background-color: var( --main-danger-color );
	color: var( --white-color );
}

/*** 										***/
/*** Site Map List							***/
/***  										***/
.map-list{
	padding: 0;
}

.map-list li{
	list-style-type: none;

	color: var(--main-danger-color);
}

.map-list li ul li{
	list-style-type: initial;
	padding: var(--spacing-xxs) 0;
	margin-inline-start: var(--spacing-ml);
}

.map-list li a{
	text-decoration: none;
	color: var(--main-danger-color);
	transition: color .2s ease;
	font-weight: 700;
}

.map-list li a:hover{
	text-decoration: underline;
	color: var(--main-color)
}

.map-list li ul li a{
	font-weight: 400;
}

@media (max-width: 767.98px) {
	/* List Files */
	.custom-list.list-files,
	.custom-list.list-files li a .files-info {
		padding: 0;
	}

	.custom-list li a{
		padding-inline-start: var(--spacing-xxs);
	}
	.custom-list li a > span{
		flex: 1;
	}

	.custom-list.list-files li a .files-info > small {
		flex: 1;
		font-size: var(--font-m);
		margin-inline-end: var(--spacing-xxs);
	}

	.custom-list.list-files .list-info{
        flex-direction: column;
        align-items: start;
        row-gap: 8px;
	}
}